#weather-control-container {
  height: auto;
  border-radius: 5px;
  background: rgba(34, 34, 34, 1);
  color: rgba(255, 255, 255, .87);
  top: 100px;
  left: 100px;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  display: flex;

  #calendar {
    flex: 1 0 255px;
    min-width: 255px;
  }

  .calendar-header {
    background: rgba(68, 68, 68, 1);
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    cursor: move;
  }

  .calendar-header .header-navigation {
    display: flex;
    padding: 3px 4px;
    cursor: default;
    flex: 0 0 44px;
  }

  .icon-btn,
  #season-indicator {
    color: rgba(255, 255, 255, .45);
    transition: color .3s ease;
    margin-right: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  #season-indicator {
    color: transparent;
    cursor: default;
  }

  .icon-btn:last-child {
    margin-right: 0;
  }

  .icon-btn:hover {
    color: rgba(255, 255, 255, 1);
  }

  #season-indicator:hover {
    color: transparent;
  }

  #window-move-handle {
    font-size: 13px;
    line-height: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    flex: 1;
  }

  .content {
    padding: 0 1px;
  }

  #date-display {
    border-bottom: 1px solid rgba(255, 255, 255, .4);

    h2 {
      font-size: 13px;
      margin: 0;
      padding: 4px 4px 2px 4px;
      border: none;
      text-align: center;
      font-weight: 400;
    }

    #date-num {
      display: none;
    }

    &.altFormat {
      #date-num {
        display: inline;
      }

      #date {
        display: none;
      }
    }
  }

  #moon,
  #moon-list {
    display: none;
  }

  #moon.hasMoon {
    display: inline-block;
  }

  #moon-list.hasMoon {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    display: flex;
  }

  #moon-list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px;
  }

  #moon img,
  #moon-list img {
    margin-left: 4px;
    flex: 0 0 14px;
    width: 14px;
    height: 14px;
    border: none;
    vertical-align: middle;
  }

  #moon-list img:first-child {
    margin: 0;
  }

  #moon img {
    position: relative;
    top: -2px;
  }

  #start-stop-clock {
    cursor: pointer;
  }

  .clock {
    padding: 4px;
  }

  #time-running .fa-stop,
  #time-running.isRunning .fa-play {
    display: none;
  }

  #time-running.isRunning .fa-stop {
    display: inline;
  }

  .clock,
  .time-display,
  .day-time-cues {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #clock-run-indicator {
    color: rgba(255, 255, 255, .4);
    transition: color .3s ease;
    width: 13px;
    height: 13px;
    overflow: hidden;
    position: relative;
    top: -1px;
  }

  #clock-run-indicator ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateX(-36px);
    position: relative;
    top: 1px;
  }

  #clock-run-indicator li {
    flex: 0 0 12px;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #clock-run-indicator i {
    font-size: 12px;
    line-height: 1;
  }

  #clock-run-indicator.isRunning ul {
    transform: translateX(0px);
    animation: hourglass 6s steps(3, end) infinite;
    color: rgba(0, 255, 150, 1);
  }

  .clockPaused #clock-run-indicator.isRunning ul {
    animation: none;
    transform: translateX(-36px);
    color: rgba(255, 155, 0, 1);
  }

  .clockPaused #clock-run-indicator.isRunning {
    transform: rotate(90deg);
    top: 0;
  }

  .time-display {
    margin: 0 auto;
  }

  .time-display .time {
    margin: 0 4px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
  }

  .time-display .start-stop {
    display: flex;
    align-items: center;
    font-size: 10px;
    height: 10px;
  }

  .time-display .start-stop i {
    font-size: 10px;
    line-height: 1;
  }

  @keyframes hourglass {
    to {
      transform: translateX(-36px);
    }
  }

  .time-controls ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: transparent;
    justify-content: space-between;
    /*border-radius: 0 0 4px 4px;*/
    /*overflow: hidden; */
  }

  .time-controls li {
    flex: 1;
    background: rgba(255, 255, 255, .65);
    margin-right: 1px;
    font-size: 11px;
    line-height: 1;
    padding: 4px;
    text-align: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, .9);
    cursor: pointer;
    transition: background .3s ease;
  }

  .time-controls li[data-display="disabled"] {
    display: none;
  }

  .time-controls li::before {
    content: attr(data-increment)' 'attr(data-unit-label);
  }

  .time-controls li.disabled {
    cursor: default;
    background: rgba(255, 255, 255, .2);
    color: rgba(0, 0, 0, .4);
  }

  .time-controls li:hover:not(.disabled) {
    background: rgba(255, 255, 255, 1);
  }

  .time-controls li:last-child {
    margin-right: 0;
  }
}

/* WEATHER DISPLAY */

#weather-control-container #weather {
  width: 0;
  overflow: hidden;
  transition: width .3s ease;
}

#weather-control-container.showWeather #weather {
  width: 250px;
}

#weather-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*border-left: 1px solid rgba(0,0,0,.6);*/
}

#weather-container header {
  flex: 0 0 20px;
  display: flex;
  background: #444;
}

#weather-container header #current-temperature {
  font-size: 13px;
  padding: 0 8px 0 4px;
  border-right: 1px solid rgba(255, 255, 255, .4);
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#weather-container header select {
  background: none;
  border: none;
  border-radius: 0;
  height: 20px;
  font-size: 13px;
  font-family: Signika, sans-serif;
  flex: 1;
  color: rgba(255, 255, 255, .9);
  padding: 0 4px;
  margin: 0;
  cursor: pointer;
  transition: background .3s ease;
}

#weather-container header select option {
  background: #444;
  color: #fff;
}

#weather-container header select:hover {
  background: rgba(255, 255, 255, .2);
}

#weather-container header select:active,
#weather-container header select:focus {
  box-shadow: none;
}

#weather-container .weather-refresh {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-right: 2px;
  font-size: 12px;
  cursor: pointer;
  width: 20px;
  border-left: 1px solid rgba(255, 255, 255, .4);
}

#weather-container .weather-refresh i {
  position: relative;
  top: 1px;
}

.weather-content {
  flex: 1;
  display: flex;
  align-items: center;
  /*border-left: 1px solid rgba(255,255,255,.4);*/
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
}

.weather-description {
  padding: 4px 10px;
  font-size: 15px;
  line-height: 17px;
  margin: auto;
}

#precipitation {
  margin: 0;
  width: 230px;
  text-align: center;
}

#weather-control-container #loader {
  display: none;
}

/* Hide controls until hover */

#weather-control-container .calendar-header .header-navigation,
#weather-control-container .day-time-cues,
#weather-control-container .time-controls {
  opacity: 0;
  transition: opacity .3s ease;
}

#weather-control-container .time-controls {
  opacity: .3;
}

#weather-control-container:hover .calendar-header .header-navigation,
#weather-control-container:hover .day-time-cues,
#weather-control-container:hover .time-controls {
  opacity: 1;
}

.calendar-form-export-import {
  display: flex;
}
